/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

/* Header content */
img {
  border-radius: 15%;
  width: 100%;
}

.img-padded {
  width: 70%;
  margin-left: 15%;
}

.btn {
  background-color: #a7c957;
  font-family: "Montserrat Alternates";
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}

header {
  background-color: #754668;
  color: white;
  font-family: "Poiret One", cursive;
  text-align: center;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poiret One", cursive;
}
h1 {
  font-size: 40px;
}
header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}
header nav ul li a {
  font-family: "Poiret One", cursive;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px 0 0;
}

header nav ul li a:link {
  color: white;
}
header nav ul li a:visited {
  color: red;
}

header nav ul li a:active {
  color: #2a4d14;
}

/* main content */
main section {
  padding: 20px;
}
main a {
  font-family: "Montserrat Alternates";
  font-size: 20px;
}
h2 {
  font-size: 36px;
  margin: 5px;
  padding: 0px;
}
h3 {
  font-size: 32px;
  margin: 0px;
  padding: 0px;
}
p,
ul,
ol {
  font-family: "Montserrat Alternates";
  font-size: 24px;
}
.bg-green {
  background-color: #d7e8ba;
}
.bg-gray {
  background-color: #bac3c0;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.sm-text {
  font-size: 20px;
}
.no-padding {
  margin: 5px 0 0 0;
  padding: 0;
}
.r-margin {
  margin-right: 10px;
}

/* footer content */
footer {
  background-color: #754668;
  color: white;
  font-family: "Poiret One", cursive;
  padding: 5px;
}

form label {
  display: block;
  font-family: "Montserrat Alternates";
  font-size: 18px;
}
form textarea {
  height: 160px;
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}
form input {
  height: 25px;
  margin-bottom: 20px;
  width: 100%;
}

/* flexboxes */
.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  padding: 10px;
}
.item-double {
  flex: 2;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: row;
}

/* link styling in main section */
main section a:link {
  color: #0d474d;
}
main section a:visited {
  color: #800000;
}
main section a:active {
  color: salmon;
}
main section a {
  padding-top: 10px;
}

/* mobile first responsive development */
@media all and (min-width: 600px) {
  /* link styling for desktop */
  header nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
  header nav ul li a:hover {
    color: #b58db6;
  }

  main section a:hover {
    color: #b58db6;
  }

  section {
    padding: 0 10%;
  }

  .img-padded {
    width: 40%;
    margin-left: 30%;
  }
  img {
    width: 100%;
  }
}
@media all and (min-width: 820px) {
  .group {
    flex-direction: row;
  }
  .img-padded {
    margin-top: 30%;
    width: 100%;
    margin-left: 0;
  }
}
